<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Чат Бот</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="chat-container">
    <div id="chat-box" class="chat-box"></div>
    <div class="input-area">
      <input id="message-input" type="text" placeholder="Введите сообщение...">
      <button onclick="sendMessage()">Отправить</button>
    </div>
    <!-- Кнопка аналитики -->
    <div class="analytics-button">
      <a href="/analytics" target="_blank">Аналитика</a>
    </div>
    <!-- В input-area под кнопкой "Отправить" -->
  <div>
    <input id="close-request-id" type="text" placeholder="ID заявки">
    <button onclick="closeRequest()">Закрыть заявку</button>
  </div>
  </div>
  <script src="/static/script.js"></script>
</body>
</html>